.box:last-child {
  margin-bottom: 1.5rem;
}

.box:first-child {
  margin-bottom: 1.5rem;
}

.favorable {
  color: green;
};

.moderate {
  color: yellow;
};

.high {
  color: orange;
};

.very-high {
  color: red;
};

.extreme {
  color: purple;
};